<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/pico.min.css">
    <title>livesim2</title>
  </head>
  <body>
    <main class="container">
    <hgroup>
        <h1>Welcome to livesim2!</h1>
        <p>Running at {{.Host}}</p>
    </hgroup>


      <p>livesim2 is a simulator for MPEG-DASH live streaming developed by DASH-IF. It uses VoD assets
      and converts them to wall-clock synchronized "live" streams, by rewriting
      timestamps, segment numbers, and segment URLs.<p>

      <p>The live stream URLs start with /livesim2/. After that comes an big optional set of parameters, followed by
        the asset name, and finally the MPD. The available parameters are listed on the
        <a href="https://github.com/Dash-Industry-Forum/livesim2/wiki/URL-Parameters" target="_blank">Wiki parameters page</a>.
        The easiest way to configure the URLs to with such parameters is the <a href="{{.Host}}/urlgen">URL generator</a> page.</p>
    </p>

      <h4>Useful local URLs</h4>

      <p>The following URLs should work at {{.Host}}. Some of them provides streaming URLs or even URLs that start
      a DASH player with the corresponding asset URL. Others provide information about the server.</p>
      <ul>
        <li><a href="{{.Host}}/urlgen">/urlgen</a> is a form to generate URLs for live streaming from this host</li>
        <li><a href="{{.Host}}/assets">/assets</a> provides a list of all loaded assets and their MPDs</li>
        <li><a href="https://github.com/Dash-Industry-Forum/livesim2/wiki/URL-Parameters">livesim2-wiki</a> compares url parameters between livesim2 and livesim1</li>
        <li><a href="{{.Host}}/vod">/vod</a> provides a list of all VoD assets and their MPDs</li>
        <li><a href="{{.Host}}/healthz">/healthz</a> to check if server is running</li>
        <li><a href="{{.Host}}/config">/config</a> to get the current config of the server</li>
        <li><a href="{{.Host}}/metrics">/metrics</a> to get Prometheus metrics for the system and all streaming content requests</li>
        <li><a href="{{.Host}}/reqcount">/reqcount</a> returns the number of requests if a limit is set</li>
      </ul>

      <h4>Further information</h4>

      For more information about the project, see

      <ul>
        <li><a href="https://github.com/Dash-Industry-Forum/livesim2"  target="_blank">livesim2 Github project</a></li>
        <li><a href="https://github.com/Dash-Industry-Forum/livesim2/wiki" target="_blank">livesim2 Github Wiki</a></li>
        <li><a href="https://github.com/Dash-Industry-Forum/livesim2/wiki/URL-Parameters" target="_blank">wiki list of url parameters</a></li>
      </ul>

      <p>Version: {{.Version}}</p>
    </main>
  </body>
</html>
