[Unit]
Description=DASH-IF livesim2 Service
#ConditionPathExists=/etc/dashif/livsim2_config.json
After=network.target network-online.target
Wants=network-online.target

[Service]
User=ec2-user
Group=ec2-user
ExecStart=/home/ec2-user/livesim2 --vodroot /home/ec2-user/vod  --maxrequests 200 --port 8888 --logformat journald
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

