name: Publish Docker image on new version

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.1.2
permissions:
  contents: read
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          repo_name=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          docker build -t ghcr.io/${repo_name}/livesim2:"${{ github.ref_name }}" .

      - name: Push Docker image to GitHub Container Registry
        run: |
          repo_name=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          docker push ghcr.io/${repo_name}/livesim2:"${{ github.ref_name }}"
