name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: 1.24
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          only-new-issues: true
      - name: go-report-card
        uses: creekorful/goreportcard-action@v1.0
        with:
          only-new-issues: true

